<h1>Editing party</h1>

<%= render :partial => 'form', :locals => { :action => 'update', :method => :put } %>

<%= link_to 'Show', rdf_party_path(@party.id) %> |
<%= link_to 'Back', rdf_parties_path %>
