<p>
  <b>Frbr bcn:</b>
  <%= @doc_type_am_configuration.frbr_bcn_type.name %>
</p>


<%= link_to 'Edit', edit_doc_type_am_configuration_path(@doc_type_am_configuration) %> |
<%= link_to 'Back', doc_type_am_configurations_path %>
