<p>
  <b>Name:</b>
  <%= @participation_type.participation_type_name %>
</p>

<p>
  <b>Uri:</b>
  <%= @participation_type.rdf_uri %>
</p>


<%= link_to 'Edit', edit_rdf_participation_type_path(@participation_type.id) %> |
<%= link_to 'Back', rdf_participation_types_path %>
