<p>
  <b>Name:</b>
  <%= @tramite_constitucional.name %>
</p>

<p>
  <b>Order:</b>
  <%= @tramite_constitucional.order %>
</p>


<%= link_to 'Edit', edit_tramite_constitucional_path(@tramite_constitucional) %> |
<%= link_to 'Back', tramite_constitucionals_path %>
