<p>
  <b>Ordinal:</b>
  <%= @debate_type.ordinal %>
</p>

<p>
  <b>Name:</b>
  <%= @debate_type.name %>
</p>


<%= link_to 'Edit', edit_debate_type_path(@debate_type) %> |
<%= link_to 'Back', debate_types_path %>
