<table>
	<thead>
		<tr>
			<th>Fecha de ejecución</th>
			<th>Tipo</th>
			<th>Línea</th>
			<th>Descripción</th>
		</tr>
	</thead>
	<tbody>
		<% @am_results.each do |am_result| %>
			<% am_result.am_observations.each do |am_obs| %>
			<tr>
				<td><%= am_result.run_date %></td>
				<td><%= am_obs.am_run_observation_type.name %></td>
				<td><%= am_obs.line.to_s %></td>
				<td><%= am_obs.contents %></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

