<p>
  <b>Nombre:</b>
  <%= @poblamiento_import_location.name %>
</p>


<%= link_to 'Edit', edit_poblamiento_import_location_path(@poblamiento_import_location) %> |
<%= link_to 'Back', poblamiento_import_locations_path %>
