<p>
  <b>Name:</b>
  <%= @quality.quality_name %>
</p>

<p>
  <b>Uri:</b>
  <%= @quality.rdf_uri %>
</p>


<%= link_to 'Edit', edit_rdf_quality_path(@quality.id) %> |
<%= link_to 'Back', qualities_path %>
