<h1>Labor Parlamentaria</h1>

<div class="span-20">
	<%= render :partial => "form", :locals => { :submit_path => create_trabajo_parlamentario_path } %>
</div>
<div class="span-81 last">
	<%= render :partial => "results" %>
</div>
