<h1>Editar Intervención</h1>

<%= render :partial => 'form', :locals => { :action => 'update', :method => :put } %>

<%= link_to 'Show', rdf_intervention_path(@rdf_intervention.id) %> |
<%= link_to 'Back', rdf_interventions_path %>
