<p>
  <b>Run date:</b>
  <%= @am_result.run_date %>
</p>

<p>
  <b>Ot:</b>
  <%= @am_result.ot_id %>
</p>


<%= link_to 'Edit', edit_am_result_path(@am_result) %> |
<%= link_to 'Back', am_results_path %>
