<p>
  <b>Name:</b>
  <%= @am_run_observation_type.name %>
</p>


<%= link_to 'Edit', edit_am_run_observation_type_path(@am_run_observation_type) %> |
<%= link_to 'Back', am_run_observation_types_path %>
